body {
  background-color: #c9b5ad;
  font-family: "PT Serif", serif;
}

h1 {
  color: #371214;
  font-family: "PT Sans", sans-serif;
}

h2 {
  color: #371214;
  font-family: "PT Sans", sans-serif;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

nav a {
  color: #8a2e3d;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-weight: 700;
}

nav a:hover {
  color: #371214;
  text-decoration: underline;
}

nav ol {
  list-style-type: none;
}

.big {
  font-weight: 700;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2.0rem;
}

strong {
  font-weight: normal;
}

cite {
  font-size: 0.8rem;
}

ol {
  list-style-type: lower-greek;
}

.servingstyle {
  font-style: italic;
}

dt {
  font-weight: 700;
}

ul {
  list-style-type: circle;
}

footer small a {
  color: #8a2e3d;
  text-decoration: none;
}
