body {
  background-color: #C9B5AD;
  font-family: "PT Serif", serif;
}

h1 {
  color: #371214;
  font-family: "PT Sans", sans-serif;
}

h2 {
  color: #371214;
  font-family: "PT Sans", sans-serif;
}

img {
  width: 100%;
}

nav a {
  color: #8A2E3D;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

nav a:hover {
  color: #371214;
  text-decoration: underline;
}
